.about-us {
    padding: 20px;
    font-family: 'Georgia', serif;
    background-color: #f5f5f5; /* Light grey background */
    color: #000000; /* Dark text */
  }
  
  .about-us h2,
  .about-us h3 {
    color: #000000; /* Blue text */
  }
  
  .faq-section {
    margin-top: 20px;
  }
  
  .faq {
    margin-bottom: 20px;
  }
  
  .faq h4 {
    margin: 0;
    color: #000000; /* Red text */
  }
  
  .faq p {
    margin: 5px 0 0 0;
    text-align: left;
  }
  
  .events-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .events-table th,
  .events-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .events-table th {
    background-color: #000000; /* Blue background */
    color: rgb(0, 0, 0);
  }
  
  .events-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey background for even rows */
  }
  